@font-face {
  font-family: "iconfont"; /* Project id 3983631 */
  src: url('//at.alicdn.com/t/c/font_3983631_rt1yaga0mla.woff2?t=1682565313487') format('woff2'),
  url('//at.alicdn.com/t/c/font_3983631_rt1yaga0mla.woff?t=1682565313487') format('woff'),
  url('//at.alicdn.com/t/c/font_3983631_rt1yaga0mla.ttf?t=1682565313487') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tingzhi:before {
  content: "\e63e";
}

.icon-caidan:before {
  content: "\e61b";
}

.icon-xiangyou3fill:before {
  content: "\e777";
}

.icon-chaxun:before {
  content: "\e6a2";
}

.icon-baocun:before {
  content: "\e6a3";
}

.icon-bianji:before {
  content: "\e6a4";
}

.icon-daochu:before {
  content: "\e6a5";
}

.icon-anquancelvepeizhi:before {
  content: "\e6a6";
}

.icon-SQLpeizhi:before {
  content: "\e6a7";
}

.icon-dingshirenwu:before {
  content: "\e6a8";
}

.icon-duanxinshezhi:before {
  content: "\e6a9";
}

.icon-fasong:before {
  content: "\e6aa";
}

.icon-fuwujiankong:before {
  content: "\e6ab";
}

.icon-fuwupeizhi:before {
  content: "\e6ac";
}

.icon-gangweiguanli:before {
  content: "\e6ad";
}

.icon-guanliyuanqiehuan:before {
  content: "\e6ae";
}

.icon-gerenzhongxin:before {
  content: "\e6af";
}

.icon-jigouguanli:before {
  content: "\e6b0";
}

.icon-jihuarenwu:before {
  content: "\e6b1";
}

.icon-jichuxinxiguanli:before {
  content: "\e6b2";
}

.icon-mima:before {
  content: "\e6b3";
}

.icon-jiaoseshouquanyonghukongzhi:before {
  content: "\e6b4";
}

.icon-jiaoseguanli:before {
  content: "\e6b5";
}

.icon-qingkong:before {
  content: "\e6b6";
}

.icon-rizhifenxi:before {
  content: "\e6b7";
}

.icon-rizhiguanli:before {
  content: "\e6b8";
}

.icon-shouye:before {
  content: "\e6b9";
}

.icon-rizhishenji:before {
  content: "\e6ba";
}

.icon-quanxianguanli:before {
  content: "\e6bb";
}

.icon-shanchu:before {
  content: "\e6bc";
}

.icon-tianjia:before {
  content: "\e6bd";
}

.icon-shuaxin:before {
  content: "\e6be";
}

.icon-shouquanfanweiguanli:before {
  content: "\e6bf";
}

.icon-shujuyuanpeizhi:before {
  content: "\e6c0";
}

.icon-shujuzidian:before {
  content: "\e6c1";
}

.icon-xitongrizhi:before {
  content: "\e6c2";
}

.icon-yingyongguanli:before {
  content: "\e6c3";
}

.icon-hangzhengquhuaguanli:before {
  content: "\e6c4";
}

.icon-xitongpeizhi:before {
  content: "\e6c5";
}

.icon-yingyongguanliyuanguanli:before {
  content: "\e6c6";
}

.icon-yingyongxitongguanli:before {
  content: "\e6c7";
}

.icon-yingyongjigouguanli:before {
  content: "\e6c8";
}

.icon-yingyongyonghuguanli:before {
  content: "\e6c9";
}

.icon-yonghuming:before {
  content: "\e6ca";
}

.icon-yonghuguanli:before {
  content: "\e6cb";
}

.icon-yonghujiluchaxun:before {
  content: "\e6cc";
}

.icon-zhuxiao:before {
  content: "\e6cd";
}

.icon-yonghurizhi:before {
  content: "\e6ce";
}

.icon-yonghushouquan:before {
  content: "\e6cf";
}

.icon-peizhizhongxin:before {
  content: "\e6d0";
}

.icon-ziyuanpeizhi:before {
  content: "\e6d1";
}

.icon-zhedie:before {
  content: "\e6d2";
}

.icon-zaixianyonghu:before {
  content: "\e6d3";
}

.icon-zuzhiguanli:before {
  content: "\e6d4";
}

.icon-ziyuanshouquanjiaosekongzhi:before {
  content: "\e6d5";
}

.icon-kuozhanshuxingdingyi:before {
  content: "\e6d6";
}

.icon-quanxianguanli1:before {
  content: "\e6d7";
}

.icon-quanxianguanli2:before {
  content: "\e6d8";
}

.icon-xitongpeizhi1:before {
  content: "\e6d9";
}

.icon-wenjianshezhi:before {
  content: "\e6da";
}

.icon-mima-fill:before {
  content: "\e6db";
}

.icon-yonghuming-fill:before {
  content: "\e6dc";
}

.icon-chaxuntongji:before {
  content: "\e6dd";
}

.icon-chuangjianhuiyi:before {
  content: "\e6de";
}

.icon-huiyishipeizhi:before {
  content: "\e6df";
}

.icon-yitiguanli:before {
  content: "\e6e0";
}

.icon-a-open-ai-seeklogocom:before {
  content: "\e620";
}
